<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
                           
	 <bean id="dataSource" class="oracle.ucp.jdbc.PoolDataSourceFactory"
			factory-method="getPoolDataSource">
	
				  <property name="URL">
					<value>				
						jdbc:oracle:thin:@//localhost:1521/Haridb
					</value>
				</property>
<!-- 				<property name="user" value="test" /> -->
<!-- 				<property name="password" value="test" /> -->
				
				<property name="user" value="harry" />
				<property name="password" value="test" />
				
				<property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource" />  
				
<!-- 				 <property name="URL"> -->
<!-- 					<value>				 -->
<!-- 						jdbc:oracle:thin:payroll/payroll321@//192.168.100.193:1521/orcl -->
<!-- 					</value> -->
<!-- 				</property> -->
<!-- 				<property name="user" value="payroll" /> -->
<!-- 				<property name="password" value="payroll321" /> -->
<!-- 				<property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource" />   -->

	</bean>
	
				<!--  BEAN  -->
				
	 <bean class="igc.tech.com.dao.RoleDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="igc.tech.com.dao.MenuDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="igc.tech.com.dao.MenuAccessDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
				
	<!-- <bean class="igc.tech.com.dao.EmployeeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="igc.tech.com.dao.ProcUtilitiesDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="igc.tech.com.dao.PaymentTypeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="igc.tech.com.dao.ItemDetailDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	 -->
			<!--END  BEAN  -->
			
<tx:annotation-driven transaction-manager="txManager" />	
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


</beans>